<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Controladores</h1>

  <h2>Formulario</h2>
  <form (ngSubmit)="funFrmRegistrar()" #frmRegistro = "ngForm">
    <div class="input-group">
      <label for="">Nombre completo:</label><br>
      <input type="text" [(ngModel)]="objRegistro.name" name="nombre" required id="comp_nombre">
      <p>Mensaje de error</p>

      <label for="">Email:</label><br>
      <input type="text" [(ngModel)]="objRegistro.email"  name="email" required id="comp_email">
      <p>Mensaje de error</p>

      <label for="">Password:</label><br>
      <input type="text" [(ngModel)]="objRegistro.password"  name="password" required id="comp_password">
      <p>Mensaje de error</p>
    </div>
    <button type="submit">Registrar</button>
    <button type="button">Cancelar</button>
  </form>

  <h2>Grilla - Productos</h2>
  <div class="grid-producto">
    <div *ngFor="let producto of arrayProductos">
      <img [src]="producto.image" alt="">
      <h3>{{producto.price}}</h3>
      <p>{{producto.name}}</p>
    </div>
  </div>

  <h2>Datos de Array Lista</h2>
  <label for="">Agregar Array</label>
  <input type="text" [(ngModel)]="txtArrayAlumnoValue">
  <button (click)="funAgregarAlumnoArray()">Agregar a la Lista</button>
  <div class="input-group">
    <ul>
      <li *ngFor="let alumno of arrayAlumnos;  index as i">
        <button (click)="funEliminarAlumnoArray(i)">Delete</button>
        {{i}} - {{alumno}}
      </li>
    </ul>
  </div>

  <h2>Eventos</h2>
  <span> Proiedades (Property Binding) - Desactivar Subi Bajar Edad</span><br>
  <button (click)="funDesactivarBtnSubirEdad('T')">Activar</button>
  <button (click)="funActivarBtnSubirEdad('F')">Desactivar</button>
  <br>
  <br>
  <span>(keyup) Modificar Nombre</span><br>
  Nombre editar -> <input type="text" [value]="objPersona.name" (keyup)="funCambiarNombrePersona($event)"> <br>
  <br>
  <span>(clic) Bajar y subir edad de Persona</span><br>
  <button [disabled]="btnActivoValue" (click)="funSubirEdadPersona()">Subir edad</button>
  <button [disabled]="btnActivoValue" (click)="funBajarEdadPersona()">Bajar edad</button>

  <br>
  <h2>Datos de Persona</h2>
  <div class="input-group">
    Nombre: <label for="">{{objPersona.name}}</label> <br>
    Edad: <label for="">{{objPersona.age}}</label> <br>
    Email: <input type="text" [value]="objPersona.email"> <br>
    Imagen: <br><img [src]="objPersona.imagen" alt="" width="200">
  </div>
</body>
</html>
